---
version: '3.7'
services:
## Eureka Server
 discovery-server:
     image: truongquycode/discovery-server:latest
     container_name: discovery-server
     ports:
       - "8761:8761"
     environment:
       - SPRING_PROFILES_ACTIVE=docker
 api-gateway:
     image: truongquycode/api-gateway:latest
     container_name: api-gateway
     ports:
       - "8181:8080"
     expose:
       - "8181"
     environment:
      - SPRING_PROFILES_ACTIVE=docker
      - LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY= TRACE
     depends_on:
       - discovery-server